<div class="container">
    <div class="row">
        <div class="col">
            <div class="row mt-4">
                <h1>Opción de configuración 1</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 2</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 3</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 4</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 5</h1>
            </div>
        </div>
    
        <div class="container col">
            <div class="row mt-4">
                <h1>Opción de configuración 6</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 7</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 8</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 9</h1>
            </div>
            <div class="row mt-4">
                <h1>Opción de configuración 10</h1>
            </div>
        </div>
    </div>
</div>