<nav class="navbar navbar-expand-md justify-content-center">
    <a routerLink="home/catalogo" class="navbar-brand">
        <img src="assets/images/webp/movieReel.webp" class="imgBrand movieReel">
    </a>
    <div class="navbar-nav">
        <a class="nav-link mx-3" routerLink="generos" id="btnNavGeneros">Géneros</a>
        <a class="nav-link mx-3" routerLink="favoritos" id="btnNavFavoritos">Favoritos</a>
        <a class="nav-link mx-3" routerLink="series" id="btnNavSeries">Series</a>
        <a class="nav-link mx-3" routerLink="peliculas" id="btnNavPeliculas">Películas</a>
        <a class="nav-link mx-3" routerLink="configuracion" id="btnNavConfiguracion">Configuración</a>
    </div>
</nav>
