<nav class="navbar navbar-expand-md justify-content-center">
    <a href="home.html" class="navbar-brand">
        <img src="assets/images/webp/movieReel.webp" class="imgBrand movieReel">
    </a>
    <div class="navbar-nav">
        <a class="nav-link mx-3" href="generos.html" id="btnNavGeneros">Géneros</a>
        <a class="nav-link mx-3" href="favoritos.html" id="btnNavFavoritos">Favoritos</a>
        <a class="nav-link mx-3" href="series.html" id="btnNavSeries">Series</a>
        <a class="nav-link mx-3" href="peliculas.html" id="btnNavPeliculas">Películas</a>
        <a class="nav-link mx-3" href="configuracion.html" id="btnNavConfiguracion">Configuración</a>
    </div>
</nav>
