.movieReel {
    height: 70px;
}

.nav-link {
    color: #c3c1c9;
    font-weight: bolder;
}

.nav-link:hover {
    text-shadow: 0 0 20px rgba(190, 152, 229, 1);
    color: rgb(190, 152, 229);
}

.navbar {
    background-color: #606C76;
    box-shadow: 0 0 20px rgba(159, 99, 213, 0.5);
}