<div class="container-md">
    <div class="login-container">
        <div class="login-header">
            <img [src]="imgLogoUrl" class="movieReel">
            <h2>Iniciar Sesión</h2>
            <p class="text-muted">Ingresa tus credenciales para continuar</p>
        </div>
        
        <form id="loginForm">
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <div class="input-group">
                    <span class="input-group-text"> <img [src]="imgUserUrl" class="usernameImage"></span>
                    <input type="text" class="form-control" id="username" placeholder="Ingrese su nombre de usuario">
                    <span class="input-group-text"></span>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <span class="input-group-text"> <img [src]="imgPassUrl" class="passwordImage"></span>
                    <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
                    <span class="input-group-text"></span>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-login" id="loginButton" routerLink="home/catalogo">Iniciar Sesión</button>
        </form>
    </div>
</div>