body {
    background-color: #765dc3;
    margin: 0;
}

.card-size {
    height: 400px;
    width: 100%;
    padding-right: 10px;
    background-color: rgb(226, 223, 223);
}

.card-img-top {
    height: 80%;
    padding: 10px;
    object-fit: contain;
    margin: 5px;
    background-color: rgb(238, 234, 234);
}

.card-title {
    margin-top: -15px;
}
