<div class="container">
    <div class="row mt-4">
        <h1>{{pageTitle}}</h1>
        <ng-container  *ngFor="let movie of moviesCollection">
            <div class="col-md-4">
                <div class="card mt-4 card-size">
                    <img class="card-img-top"  [src]="movie.path" [alt]="movie.title">
                    <div class="buttons justify-content-center d-flex mt-3">
                        <button class="btn btn-primary mx-4 buttons show-more" card-id="card1" (click)="launchWatchMovieModal(movie.title,movie.titleID, movie.review)">Ver</button>
                        <button class="btn btn-danger mx-4 hide-title buttons" id="btnAvatar1" card-id="card1" (click)="launchHideMovieModal(movie.title, movie.titleID)">Ocultar</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>